h1{
    text-decoration: underline; font-family: fantasy;
}
.footer{color: cyan;
text-align: center;
}        
h2{
    font-size: 2rem;
}
.description{
    background-color: bisque;
}
a:hover{
    font-weight: bold;
}
a:visited{
    color: chartreuse;
}
a:active{
    text-decoration: none;
}
th{
    font-size: 2rem;
    color: cornflowerblue;
}